@import url("icons.css");
@font-face {
  font-family: "Raleway";
  src: url("Raleway.ttf");
}
@font-face {
  font-family: "Museo";
  src: url("Museo.otf");
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Raleway;
  word-break: break-word;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

header {
  width: 100%;
  padding: 2.5em 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header h1 {
  color: #333;
  font-size: 1.8rem;
  font-family: Museo;
  padding: 0 2rem 0 0;
}
header ul {
  display: none;
}
header ul li {
  margin: 0 0 0 1rem;
  display: inline-block;
}
header ul li a {
  color: #333;
  letter-spacing: 0.2rem;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header div a {
  margin: 0 0.5rem;
}
header div a i {
  color: #333;
  font-size: 1.2rem;
}
header div a:last-child {
  display: none;
  color: #fff;
  font-weight: 300;
  margin: 0 0 0 0.5rem;
  border-radius: 5px;
  background: #333;
  padding: 0.6rem 1rem;
  letter-spacing: 2px;
}

section {
  width: 100%;
  padding: 2.5em 2rem;
  overflow-x: hidden;
}
section .carousel {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 768px) {
  section .carousel {
    gap: 3rem;
    padding: 0px;
    flex-direction: column-reverse;
  }
}
section .carousel .legenda {
  width: 700px;
}
@media (max-width: 768px) {
  section .carousel .legenda {
    width: 100%;
    padding: 0.5rem;
  }
}
section .carousel .legenda h1 {
  font-size: 3.2vw;
  font-family: Museo;
}
@media (max-width: 425px) {
  section .carousel .legenda h1 {
    font-size: 8vw;
  }
}
section .carousel .legenda h1 span {
  color: #999;
  display: block;
  letter-spacing: 0.2rem;
}
section .carousel .legenda p {
  font-weight: 400;
  padding: 1rem 0 0;
  line-height: 1.5rem;
}
section .carousel .legenda div.cards-link {
  padding: 1rem 0 0;
}
section .carousel .legenda div.cards-link label {
  padding: 0 1rem 1rem 0;
  display: inline-block;
}
section .carousel .legenda div.cards-link label h5 {
  color: #000;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
section .carousel .legenda div.cards-link label span {
  color: #999;
  font-weight: 400;
  padding: 0.5rem 0;
}
section .carousel .legenda div.cards-doc {
  float: left;
  display: block;
  padding: 1rem 0;
}
section .carousel .legenda div.cards-doc a {
  color: #fff;
  font-size: 0.8rem;
  min-width: 110px;
  background: #000;
  font-family: Museo;
  border-radius: 3px;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  letter-spacing: 1.5px;
  padding: 0.8rem 1.8rem;
  display: inline-block;
}
section .carousel .legenda div.cards-doc a:first-child {
  background: #999;
}
section .carousel .img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 768px) {
  section .carousel .img {
    width: 38vw;
    height: 38vw;
    margin: 0 auto;
  }
}
section .carousel .img::before {
  display: block;
  background: orange;
  width: 300px;
  height: 300px;
  position: absolute;
}
section .carousel .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
section .lista {
  display: block;
  padding: 2rem 0 3rem;
}
section .lista ul {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 768px) {
  section .lista ul {
    padding: 0.5rem;
  }
}
section .lista ul li {
  width: 350px;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px #111;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 1.2rem;
}
@media (max-width: 768px) {
  section .lista ul li {
    width: 100%;
  }
}
section .lista ul li span {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0.1rem;
  background: #777;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section .lista ul li:last-child span {
  color: #fff;
  background: #000 !important;
}
section .lista ul li div {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: row;
  flex-direction: column;
}
section .lista ul li div h4 {
  font-weight: 900;
  font-family: Museo;
}
section .lista ul li div p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
section .skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 768px) {
  section .skill {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
section .skill div.sobre {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-gap: 1rem;
}
section .skill div.sobre p {
  line-height: 0px;
  position: relative;
}
section .skill div.sobre p::before {
  top: 2rem;
  left: -20px;
  content: "Meu Skill";
  display: block;
  width: 90px;
  height: 0px;
  position: absolute;
  transform: rotate(-90deg);
}
section .skill div.sobre p::after {
  top: 8.3rem;
  content: "";
  width: 63px;
  height: 1px;
  left: -0.7rem;
  display: block;
  padding: 0.1rem;
  background: #777;
  border-radius: 8px;
  position: absolute;
  transform: rotate(90deg);
}
section .skill div.sobre .descricao h1 {
  color: #000;
  font-size: 2rem;
  font-weight: 900;
  padding: 0 0 1rem;
}
section .skill div.sobre .descricao span {
  font-weight: 400;
  line-height: 1.8rem;
}
section .skill div.sobre .descricao .lista-progress {
  padding: 1.3rem 0 0 0;
}
section .skill div.sobre .descricao .lista-progress li {
  display: block;
  margin: 0 0 1rem 0;
  --progress: attr(data-progress);
}
section .skill div.sobre .descricao .lista-progress li h2 {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.2rem 0;
}
section .skill div.sobre .descricao .lista-progress li h2 span {
  font-size: 1rem;
  font-weight: 900;
  line-height: unset;
}
section .skill div.sobre .descricao .lista-progress li h2 span:last-child {
  font-family: Museo;
}
section .skill div.sobre .descricao .lista-progress li h2 span:last-child::before {
  content: var(--progress);
}
section .skill div.sobre .descricao .lista-progress li .progress {
  width: 100%;
  padding: 0.3rem;
  overflow: hidden;
  background: #999;
  border-radius: 5px;
  position: relative;
}
section .skill div.sobre .descricao .lista-progress li .progress i {
  top: 0px;
  left: 0px;
  z-index: 0;
  right: 0px;
  bottom: 0px;
  content: "";
  display: block;
  background: #333;
  border-radius: 4px;
  position: absolute;
  transition: width 2ms;
}
section .skill .lista-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding: 1rem !important;
}
section .skill .lista-skill li {
  height: 150px;
  background: #999;
  border-radius: 5px;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
section .skill .lista-skill li span {
  width: 50px;
  height: 50px;
  padding: 1.4rem;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section .skill .lista-skill li span i {
  color: #fff;
  font-size: 1.5rem;
}
section .skill .lista-skill li h5 {
  font-size: 1.2rem;
}/*# sourceMappingURL=index.css.map */